body {
  background-color: #ffffff;
  color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}
  
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: white;
  }
}
